/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}
b {
    color: black;
    font-weight: bold;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-colour;
    background-color: $background-colour;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm,
blockquote,
b,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul {
    margin-bottom: $spacing-unit / 2;
}
/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}
/**
 * Lists
 */
ol,
ul {
    margin-left: $spacing-unit;
}

li {
     > ol,
    > ul {
        margin-bottom: 0;
    }
}
/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $link-colour;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
/**
 * Blockquotes
 */
blockquote {
    color: $grey-colour-dark;
    padding-left: $spacing-unit / 2;
    border-left: 2px solid $grey-colour-light;
    font-style: italic;
    font-size: $small-font-size;

    > :last-child {
        margin-bottom: 0;
    }
}
/**
 * Code formatting
 */
code,
pre {
    background-color: #fcfcfc;
}

code {
    padding: 1px 5px;
    font-family: $code-font-family;
    color: #f14e32;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    border-left: 2px solid $grey-colour-light;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        tab-size: 4;
        color: inherit;
    }
}
/**
 * Table
 */
table {

    max-width: 100%;
}

td,
th {
    padding: 0.1rem;
    line-height: inherit;
}

th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 0px solid $grey-colour-light;
}

td {
    vertical-align: top;
    border-bottom: 0px solid $grey-colour-light;
}
/**
 * Horizontal rule
 */
hr {
    border: none;
    border-top: 1px solid lighten($grey-colour, 25%);
    margin: $spacing-unit auto;
}
/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.blue {
  color: blue;
}
.red {
  color: red;
}  

.green {
    color: green;
}


.black {
    color: black;
    font-weight: bold;
}

strong {
    font-weight: bold;
}


#tabless {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#tabless td, #tabless th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabless tr:nth-child(even){background-color: #f2f2f2;}

#tabless tr:hover {background-color: #ddd;}

#tabless th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #848484;
    color: white;
}
