<!-- Add/change/remove as necessary. -->

<p class="site-nav">
	<a href="{{ '/about/' | prepend: site.baseurl | prepend: site.url }}">about</a> : 
	<a href="{{ '/archery/' | prepend: site.baseurl | prepend: site.url }}">archery</a> :
	<a href="{{ '/articles/' | prepend: site.baseurl | prepend: site.url }}">articles</a> :
	<a href="{{ '/backgammon/' | prepend: site.baseurl | prepend: site.url }}">backgammon</a> :
	<a href="{{ '/computing/' | prepend: site.baseurl | prepend: site.url }}">computing</a> :
	<a href="{{ '/contact/' | prepend: site.baseurl | prepend: site.url }}">contact</a> :
	<a href="{{ '/or/' | prepend: site.baseurl | prepend: site.url }}">OR</a> :
	<a href="{{ '/physics/' | prepend: site.baseurl | prepend: site.url }}">physics</a> :
	<a href="{{ '/projects/' | prepend: site.baseurl | prepend: site.url }}">projects</a> :
	<a href="{{ '/ur/' | prepend: site.baseurl | prepend: site.url }}">ur</a> 
</p>