---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Droid Sans', sans-serif;
$code-font-family: Inconsolata, Monaco, Consolas, monospace;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  1rem;
$base-line-height: 1.5;

$spacing-unit:     2rem;
$max-width:        70rem;

$text-colour:       #333;
$background-colour: #fff;
$link-colour:       #0645ad;

$grey-colour:       #aaa;
$grey-colour-light: lighten($grey-colour, 25%);
$grey-colour-dark:  darken($grey-colour, 25%);

// Width of the content area
$on-palm:          600px;
$on-:              800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		url(https://fonts.googleapis.com/css?family=Droid+Sans),
        "base",
        "layout",
        "syntax-highlighting"
;
