<!DOCTYPE html>
<html>
  {% include head.html %}
  <body onload="updateClock(); setInterval('updateClock()', 1000 )"> 
    <div class="page-content">
      {{ content }}
      <div class="copyright">
        <p>&copy; {{ site.time | date: '%Y' }} <a href="{{ site.baseurl | prepend: site.url }}" title="{{ site.description }}"><strong>{{ site.title }}</strong></a> ―  powered by Jekyll, using a modified version of <a href="http://github.com/heiswayi/textlog" title="a minimalist Jekyll theme for documentation">Textlog theme</a>. 

        Further details can be found <a href="{{ '/about/thesite/' | prepend: site.baseurl | prepend: site.url }}">here.</a>
        <p> 
        <br />
        uvshed at ml1 dot net - 
        <a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">{rss}</a>
      </p>
    </div>
      </div>
    </div>
  </body>
</html>
