---
layout: default
---

  <section class="site-header">
    <h1 class="smallcap"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    {% include intro.html %}
    {% include nav.html %}
  </section>

<article class="post">
  <header class="post-header">
  	<p> </p>
    <h3 class="post-title">{{ page.title }}</h3>
    {% if page.mod  %}
      <p> </p>
      <p> <h6> Modified:- {{ page.mod | date: "%d %b %Y" }} </h6></p>
    {% endif %}
  </header>
  <div class="post-content">
    {{ content }}
  </div>

  <hr>
</article>
